.img-container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 4px;
}

.img-container img {
    vertical-align: top;
    max-width: 100%;
    transition: all 0.3s;
    border-radius: 4px;

}

.img-container:hover img {
    transform: scale(1.1);

}